@charset "UTF-8";
 @font-face {
     font-family: 'Sodo-Sans Bold';
     src: url(font/SoDoSans-Bold.ttf);
}
 @font-face {
     font-family: 'Sodo-Sans SemiBold';
     src: url(font/SoDoSans-SemiBold.ttf);
}
 @font-face {
     font-family: 'Sodo-Sans Regular';
     src: url(font/SoDoSans-Regular.ttf);
}
 .primary-color {
     background-color: #D4E9E2;
}
 .text-color {
     color: #1E3932;
}

@media screen and (min-width: 1300px){
    .pinerity_main, .header_pinerity {
        margin: 0 60px;
    }
}
* {
    margin: 0%;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
    scrollbar-width: thin;
}
.header_pinerity {
    font-family: 'Sodo-Sans Bold';
    position:fixed;
    z-index: 1;
    margin-top: 0px !important;
    margin-left: 0px !important;
    background-color: #ffff;
    width: 100%;
    box-shadow: 0px 4px 3px 0px rgba(163, 162, 162, 0.71);
    -webkit-box-shadow: 0px 4px 3px 0px rgba(163, 162, 162, 0.71);
    -moz-box-shadow: 0px 4px 3px 0px rgba(163, 162, 162, 0.71);
}
/* Start Menu */

.header_pinerity .navbar {
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.navbar-brand img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.navbar .container-fluid .container-fluid {
    display: flex;
    align-items: center;
}
.navbar .container-fluid .nav .nav-item .nav-link:hover {
    color: #0F8953 !important;
}
.icon {
    font-size: 20px;
}
@media screen and (min-width: 750px) {
    .navbar .container-fluid .container-fluid {
        display: flex;
        justify-content: center;
   }
    .navbar .container-fluid .container-fluid a {
        display: none;
   }
    .navbar .container-fluid .container-fluid .btn-light, .btn-dark {
        display: none;
   }
}
@media screen and (min-width: 880px) {
    .navbar .container-fluid .container-fluid a {
        display: inline-block;
        display: flex;
        align-items: center;
   }
}
@media screen and (min-width: 1050px) {
    .navbar .container-fluid .container-fluid .btn-light {
        display: inline-block;
   }
}
@media screen and (min-width: 1120px) {
    .navbar .container-fluid .container-fluid .btn-dark {
        font-size: 12px;
        display: inline-block;
   }
}

/* Start Offcanvas */
.container-fluid .navbar-brand img {
    width: 40px;
}
@media screen and (min-width: 768px) {
    .navbar .container-fluid .navbar-brand img {
        width: 50px;
   }
}
.navbar+.offcanvas {
    width: 310px;
    font-family: 'Sodo-Sans SemiBold';
}
.offcanvas .nav .nav-link {
    font-size: 12px;
}
.offcanvas-header .nav .nav-item {
    transition: all .1s ease;
}
.offcanvas-header .nav .nav-item:hover {
    background-color: #e6e6e6;
}
.bi-list {
    font-size: 25px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.btn {
    font-family: 'Sodo-Sans SemiBold';
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition: all .3s ease;
    letter-spacing: 0.5px;
}
.btn:hover, .btn:focus, .btn:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.657);
}
/*main*/
main {
    max-width: 1440px;
}
/* Start Carousel */

#carrosel{
    margin-top: 7%;
    background-color: #00754a;
}
.carousel-inner img{
    width: 100%;
}
.carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.541);
    box-sizing: content-box;
    flex: 0 1 auto;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 0.681);
}
.pinerity_main .carousel .carousel-control-prev, .carousel-control-next {
    opacity: 1;
}

.product img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.product {
    display: flex;
}
.product-left,
.product-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}
.product-right button{
    margin-top: 40px;
    background-color: #1e3932;
    color: white;
}

.product-title {
    width: 100%;
    text-align: center;
    color: white;
}
.product-container {
    margin: 40px 0px 40px 0px;
    display: flex;
    
}

.product-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.product-button-white {
    color: white;
}

.product-button-black {
    color: black;
    border-color: black;
}

.product-description {
    text-align: center;
    padding: 30px 60px 30px 60px;
    font-size: 18px;
}

/* Start Footer */

.footer-starkbucks {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7), 0 2px 8px 0 rgba(0, 0, 0, .5), 0 1px 5px 0 rgba(0, 0, 0, .1);
    margin-top: 35px;
    font-family: 'Sodo-Sans Regular';
    padding: 25px 0 50px;
}
@media screen and (min-width: 992px) {
    .footer-starkbucks hr+.container-fluid {
        text-align: justify;
        padding: 10px 80px 0;
   }
}
.text-dark-emphasis {
    color: rgb(148, 148, 148) !important;
}
.footer-accordion .accordion-button {
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.accordion-item .nav {
    font-size: 14px;
}
.footer-img-logo {
    width: 120px;
}
@media screen and (min-width: 992px) {
    .footer-links {
        padding: 20px 80px;
   }
}
.footer-links .nav .nav-item:nth-child(1) {
    font-size: 18px;
}
.footer-links .nav {
    width: calc(100% / 4);
}
.footer-links .nav .nav-item {
    font-size: 14px;
}
.footer-links .nav .nav-item .text-dark-emphasis:hover {
    color: black !important;
}
.footer-links+hr {
    border: 1.5px solid #acacac;
    margin: 40px auto;
    max-width: 940px;
}
.social-media {
    margin: 50px 10px 0;
}
.social-media i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    background-color: rgb(10, 59, 21);
    border-radius: 50%;
    color: white;
}
.social-media i:hover {
    transform: scale(1.2);
}
.politicas {
    margin-top: 30px;
}
.politicas span:nth-child(-n+3) {
    border-right: 1px solid black;
    padding: 0 10px;
}
.politicas span:nth-child(4) {
    padding-left: 10px;
}
#dono{
    font-size: 14px;
    margin: 50px 10px 20px;
}